
* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

img {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

ul{
    list-style: none;
}

h1 {
    color: darkred;
    margin-top: 0;
}

p {
    margin-bottom: 20px;
}

.recipie-card {
    width: 1400px;
    text-align: center;
    background-color: azure;
    margin: 30px auto;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, .5);
}

.recipie-info{
    padding: 20px;
    display: inline-block;
    width: 1100px;
    vertical-align: top;
}

.recipie-center{
    text-align: center;
    display: inline-block;
    width: 380px;
    padding: 0px;
}

.recipie-ingredients {
    text-align: left;
    display: inline-block;
    width: 1100px;
}


ul li {
    display: inline-block;
    margin-right: 10px; 
}

ul li h2 {
    font-size: 16px;
}


